{{#each podcasts as |podcast|}}
    <div class="bgrid feature podcast-pill">
        <div style="margin-top: 5px;">
            <p style="margin-bottom: 0;"><img src="{{podcast.content.banner_picture}}" class="img-responsive" style="width: 100%; height: 300px; object-fit: cover; border-top-left-radius: 20px;border-top-right-radius: 20px;"></p>
        </div>
        <div class="service-content">
            <input class="audio-src" style="display: none;" value="{{podcast.content.src}}">
            <a href="#">
                <h1 class="podcast-title">
                    <span class="episode_no">episode #1:</span>
                    {{{podcast.title}}}
                </h1>
            </a>
            <small class="object-meta h05"> 6th November, 2017 |
                {{#each podcast.categories as |category|}}
                    <a href="#">{{category}}</a>
                {{/each}}
                | <span style="text-transform: capitalize">Guest Name</span></small>
            <p class="text-left podcast-description">{{{podcast.subtitle}}}
            </p>
            <div class="playback">
                <p class="ion ion-play play-podcast" style="font-size: 2em;"></p>
                <p class="text-left podcast-elapsed">00:00:00</p>
                <p class="text-right podcast-runtime">00:30:00</p>
                <hr style="clear: both; color: transparent; margin-bottom: -10px;">
                <div class="podcast-progress">
                    <div class="podcast-elapsed-bar"></div>
                    <div class="seek"><span></span></div>
                </div>

            </div>
        </div>
    </div> <!-- /bgrid -->
{{/each}}