<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <meta name="description" content="">
    <meta name="author" content="Barnabas Nomo">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="/stylesheets/dist/bundle.min.css">

    <!-- script
    ================================================== -->
    <script src="/javascripts/dist/modernizr.js"></script>

    <!-- favicons
     ================================================== -->
    <link rel="icon" type="image/png" href="/favicon.png">

</head>

<body id="top">

<!-- header
================================================== -->
<header>

    <div class="row">

        <div class="logo">
            <a href="/">{{{title}}}</a>
        </div>

        <nav id="main-nav-wrap">
            <ul class="main-navigation">
                {{#if_eq curr_page 'podcasts'}}

                {{else}}
                    {{#if_eq curr_page 'single'}}
                        <li><a class="smoothscroll" href="#process" title="">About</a></li>
                    {{else}}
                        {{>heads}}
                    {{/if_eq}}
                {{/if_eq}}



                <li class="with-sep"><a href="/podcasts" style="color: #f15d65">Podcasts</a></li>

                <li class="highlight with-sep"><a style="color:#ffaa00;font-size: .8em">Volume</a></li>
                <li class="highlight"><input type="range" min="0" max="1" step=".01" value="0.3"
                                             style="margin: 0; padding: 0;" id="gain"></li>
                {{#if user}}
                    <li class="highlight with-sep"><a href="/logout" title="">Logout</a></li>
                {{else}}
                    <li class="highlight with-sep"><a href="/login" title="">Login</a></li>
                    <li class="highlight"><a href="/signup" title="">Sign Up</a></li>
                {{/if}}
            </ul>
        </nav>

        <a class="menu-toggle" href="#"><span>Menu</span></a>

    </div>

</header> <!-- /header -->

<!-- intro section
================================================== -->
{{{body}}}


<!-- footer
================================================== -->
{{#unless hide_footer}}
    <footer>

        <div class="footer-main">

            <div class="row">

                <div class="col-four tab-full mob-full footer-info">

                    <div class="footer-logo"></div>

                    <p>
                        No. 1 Mango Street<br>
                        East Legon, Accra 00233 Ghana<br>
                        <a href="mailto:info@the-nomad.com">info@the-nomad.com</a> &nbsp; <a href="tel:+233540657017">+233-540-657-017</a>
                    </p>

                </div> <!-- /footer-info -->

                <div class="col-two tab-1-3 mob-1-2 site-links">

                    <h4>Site Links</h4>

                    <ul>
                        <li><a href="/podcasts">Podcasts</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>

                </div> <!-- /site-links -->

                <div class="col-two tab-1-3 mob-1-2 social-links">

                    <h4>Social</h4>

                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Dribbble</a></li>
                        <li><a href="#">Google+</a></li>
                        <li><a href="#">Skype</a></li>
                    </ul>

                </div> <!-- /social -->

                <div class="col-four tab-1-3 mob-full footer-subscribe">

                    <h4>Subscribe</h4>

                    <p>Keep yourself updated. Subscribe to our newsletter.</p>

                    <div class="subscribe-form">

                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="dEmail" class="email" id="mc-email"
                                   placeholder="type email &amp; hit enter" required="">

                            <input type="submit" name="subscribe">

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>

                    </div>

                </div> <!-- /subscribe -->

            </div> <!-- /row -->

        </div> <!-- /footer-main -->


        <div class="footer-bottom">

            <div class="row">

                <div class="col-twelve">
                    <div class="copyright">
                        <span>© Copyright The-Nomad {{{curr_year}}}.</span>
                        <span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>
                    </div>

                    <div id="go-top" style="display: block;">
                        <a class="smoothscroll" title="Back to Top" href="#top"><i
                                class="icon ion-android-arrow-up"></i></a>
                    </div>
                </div>

            </div> <!-- /footer-bottom -->

        </div>

    </footer>
{{/unless}}

<div id="preloader">
    <div id="loader"></div>
</div>
<audio id="myaudio">
    Your browser doesn't support html5 audio
</audio>
<!-- Java Script
================================================== -->
<script src="/javascripts/dist/bundle.min.js"></script>

</body>

</html>