<section id="intro" style="background:url({{podcast.content.banner_picture}}); -webkit-background-size: cover;background-size: cover;">

    <div class="shadow-overlay"></div>

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">

                <h1 style="color: white;text-shadow: 1px 1px 2px black;"><span style="font-size: .6em">episode #{{podcast.no}}: </span>{{{podcast.title}}}</h1>
                <h5 style="color: white;text-transform: none;text-shadow: 1px 1px 2px black;">  |  <i class="icon icon-user"></i>  <span>{{podcast.guest.name}}</span>  |  <i class="icon icon-calendar"></i>  <span class="podcast-date" data-date="{{podcast.date}}" style="color: white;"></span>  |  <i class="icon icon-play"></i>  <span id="played" data-identifier="{{podcast._id}}">{{podcast.stats.played}}</span>
                </h5>
                <input value="{{podcast.content.src}}" hidden id="dompe">

                <input type="range" min="0" step=".01" value="0" id="stat_bar">
                <button class="button stroke ion ion-play" id="play_stat" title="" style="text-shadow: 1px 1px 2px black;font-size: 2em; border-radius: 80px;" data-ser="{{podcast._id}}"></button>

            </div>

        </div>
    </div>

</section>

<!-- Process Section
================================================== -->
<section id="process">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h5>{{{podcast.subtitle}}}</h5>
            <h1 style="font-size: 2rem">● {{#each podcast.categories as |category|}}
                <a href="#" id="cats">{{category}}</a> ●
            {{/each}}</h1>
            <hr>

            <div style="text-align: left;">
                {{{podcast.content.text}}}
            </div>
            <p class="lead" style="color: #353F49;">
                <span style="color: #3F3F3F; font-weight: 700;">{{{podcast.title}}}</span> by {{podcast.guest.name}}
            </p>
        </div>
        <div class="col-twelve">
        <h2 style="margin: 50px auto; letter-spacing: 5px; word-spacing: 5px;">Leave a Comment!</h2>
        <hr style="margin-bottom: 50px;">
        <textarea placeholder="Leave a Comment" required style="width: 100%; resize: none;"></textarea>
            <input type="submit">
        </div>
    </div>

</section> <!-- /process-->
